In [2]:
import requests
import json
import pandas as pd
from pandas import DataFrame

In [3]:
def GetAllPokemon():
    #the number after limit is the number of pokemon dictionaries that are returned
    Response = requests.get(f"https://pokeapi.co/api/v2/pokemon/?offset={0}&limit={898}")
    dataJson = json.loads(Response.content)# casts the result from the request into a valid JSON instance 
    for PokeDict in dataJson['results']:
        yield PokeDict# PokeDict looks like {'name': name, 'url': some url that returns a json file with all it's data}
    #
    pass

The above cell returns {"name": PokeName, "url": a url to the pokemon's data}. From that URL, you recive a JSON file with ALL the data the PokeMon has.

In [4]:
def GetPokemon(name:str):
    Response = requests.get(f"https://pokeapi.co/api/v2/pokemon/?offset={0}&limit={898}")
    dataJson = json.loads(Response.content)
    for PokeDict in dataJson['results']:
        if PokeDict['name'] ==name:
            return PokeDict
    return False

The above cell takes a string, and checks if the current pokemon's name matches with the arguement string

In [5]:
def GetData(name:str):
    data = GetPokemon(name)
    
    if data != False:
        #print(json.loads(requests.get(data['url']).content))
        
        return json.loads(requests.get(data['url']).content)
    else :
        return 0

In [6]:
def GetPokemonStats()->pd.DataFrame:
    ResultTable = DataFrame(columns=['name', 'hp', 'attack', 'defense', 'sp-atk', 'sp-def', 'speed'])
    Allpoke = GetAllPokemon()

    for  PokeMon in Allpoke:
        dataJson = json.loads(requests.get(PokeMon['url']).content)
        list_temp = [PokeMon['name']]
        for  stat in dataJson['stats']:
            list_temp.append(stat['base_stat'])
            pass

        tempResultTable = DataFrame(list_temp)
        PokeFrameResultTable = tempResultTable.T # swaps columns and rows 
        #Also known as Trasnposing dataframe 
        tempResultTable.columns = ResultTable.columns
        #removing this line causes the columns for the DataFrame to be 1 - 7,which would cause an error when calling concat
        #The columns determine the schema of the dataframe 
        ResultTable = pd.concat([ResultTable, tempResultTable], ignore_index=True)

    return ResultTable

You should make sure that all the cells before are run, JupyterNotebook is cool in that when you run all of the above/ or below cells, you wont have to run them again to debug every part! So once you get the data, you dont have to run any of the cells before. You don't really need to know \*how\* exactly this code work.

In [7]:
PokeFrame = GetPokemonStats()

           name   hp attack defense sp-atk sp-def speed
0     bulbasaur   45     49      49     65     65    45
1       ivysaur   60     62      63     80     80    60
2      venusaur   80     82      83    100    100    80
3    charmander   39     52      43     60     50    65
4    charmeleon   58     64      58     80     65    80
..          ...  ...    ...     ...    ...    ...   ...
893   regieleki   80    100      50    100     50   200
894   regidrago  200    100      50    100     50    80
895   glastrier  100    145     130     65    110    30
896   spectrier  100     65      60    145     80   130
897     calyrex  100     80      80     80     80    80

[898 rows x 7 columns]

In [9]:
PokeFrame

           name   hp attack defense sp-atk sp-def speed
0     bulbasaur   45     49      49     65     65    45
1       ivysaur   60     62      63     80     80    60
2      venusaur   80     82      83    100    100    80
3    charmander   39     52      43     60     50    65
4    charmeleon   58     64      58     80     65    80
..          ...  ...    ...     ...    ...    ...   ...
893   regieleki   80    100      50    100     50   200
894   regidrago  200    100      50    100     50    80
895   glastrier  100    145     130     65    110    30
896   spectrier  100     65      60    145     80   130
897     calyrex  100     80      80     80     80    80

[898 rows x 7 columns]

PokeFrame is what is called a table/or DataFrame, tables are where the data is at. If you want to do data science, 
learning how to manipulate and query the data of a table will become very useful.

You're goal is to add another column, with complete data, that represents their habitat, here is the documentation https://pokeapi.co/docs/v2#pokemon-section.
Once you are done with that, pivot the data frame, and index with both row number, and pokemon name.

It's somewhat easier to tell what data you are getting by sending GET requests using something like Postman or curl